@import '../../mixins.scss';

.SnakeArea {
    position: relative;
    margin: 15rem auto;
    width: 40rem;
    height: 40rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.048);
    border-radius: 1rem;
    
}

.grass-landscape {
    position: absolute;
    margin: 5rem auto;
    width: 56rem;
    height: 58rem;
    top: -135px;
    left: -80px;
    z-index: -1;
}



